extend layout.pug

//- Set page title
block title
	title Server events

//- Set active nav item
block navevents
	li.nav-item.active
		a.nav-link(href="/events") Events

//- Set jumbotron
block jumbotron-inner
	h1.jumbotron-text Server events
	p.lead Stuff we like to do

//- Add some content
block content
	h1 Movie Night
	p.lead.tzfix(tzfix-time="1483401600", tzfix-rep="weekly+hour") Mondays at 7 PM EST
	p Join us as we watch a movie of the community's choice, streamed live in your web browser for free.
	hr

	h1 Open Mic
	p.lead.tzfix(tzfix-time="1483660800", tzfix-rep="weekly+hour") Wednesdays at 7 PM EST
	p Hang out with us for an evening of wonderful music and the chance to perform with your friends!
	hr

	h1 Game Night
	p.lead.tzfix(tzfix-time="1483833600", tzfix-rep="weekly+hour") Fridays at 7 PM EST
	p A different game every Friday!
	hr

	h1 Poop Day
	//-p.lead.tzfix(tzfix-time="1486415103", tzfix-rep="weekly+hour")
	p.lead The first Monday of every month
	p Eat some poopy!

block endscripts
	script.
		$(function() {
			$(".tzfix").each(function(i, elem) {
				let time = new Date(Number($(elem).attr("tzfix-time")) * 1000),
					rep = $(elem).attr("tzfix-rep"),
					localized = ""
					daysPluralized = ["Sundays", "Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays"];
				console.log($(elem).attr("tzfix-time"));
				switch(rep) {
					case "weekly+hour":
						localized += daysPluralized[time.getDay()];
						
						let hour = time.getHours() % 12;
						if (hour === 0) {
							hour = 12;
						}
						localized += " at " + hour + " ";
						localized += time.getHours() >= 12 ? "PM" : "AM";
						
						break;
				}
				
				$(elem).text(localized);
			})
		});