extends layout.pug

//- Set page title
block title
	title Boundless

//- Yay styling
block style
	style.
		.jumbotron {
			padding-bottom: 0px;
		}

		@media(min-width: 576px) {
			.jumbotron {
				padding-bottom: 16px;
			}
		}

		.realign {
			margin: 8px 0;
		}

		.jumbotron-bg video {
			position: fixed;
			z-index: -1;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			transform: translate(-50%, -50%);
		}

		.jumbotron-bg {
			z-index: -50;
			background: none;
		}

		.tint-bg {
			background: none;
		}

		.fillback {
			background-color: #FFFFFF;
			margin-top: -32px;
			padding: 32px 0;
		}


//- Set active nav item
block navhome
	li.nav-item.active
		a.nav-link(href="/") Home

//- Background video
block jumbotron-top
	video(autoplay, showcontrols="false", loop, preload="metadata", muted, playsinline)
		source(src="/videos/mainback/h264-1920.mp4", type="video/mp4")
		source(src="/videos/mainback/vp8-1920.webm", type="video/webm")
		source(src="/videos/mainback/vp9-1920.webm", type="video/webm")

//- Set jumbotron
block jumbotron-inner
	h1.jumbotron-text Boundless
	p.lead A friendly Discord server for everyone
	hr.my-4
	.row
		a.lead.col-sm-2.btn.btn-outline-primary.btn-lg(href=widget.instant_invite, role="button") Join us
		p.lead.col-sm.text-sm-right.text-center.realign
			span#membercount=widget.members.length
			=" friends online right now"

//- Heck yes content
block content
	h1 Welcome
	p Boundless is a welcoming Discord server, an active community of over 1400 members. From weekly Game and Movie Nights to live Open Mic Nights, our weeks are full with fun activities for you to join and meet new people!

//- Scripting yay
block endscripts
	script.
		$.ajaxSetup({
			cache: false
		});
		
		// Live update of member count
		function updateMemberCount() {
			$.get("#{widgetURL}", "", function(data) {
				if (data && data.members) {
					membercount.innerText = data.members.length;
				}
			}, "json");
		}
		setInterval(updateMemberCount, 1000);